@@@@project_info
BIN/public-picture/*	OUTDIR/upload/public-picture/	copy	2
@@@@spaceinfo
INDIR/*/*spatial_cluster_umap.p*	OUTDIR/upload/space/	link	0
@@@@RNAinfo
INDIR/*/*celltype_count.xls	OUTDIR/upload/RNA/	link	0
INDIR/*/*singlecell_cluster_umap.p*	OUTDIR/upload/RNA/	link	0
@@@@Integrate
INDIR/*/*all_spot_celltype_example.xls	OUTDIR/upload/Integrate/	link	0
INDIR/*/*all_spot_celltype.xls	OUTDIR/upload/Integrate/	link	0
INDIR/*/*SpatialScatterpie.p*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*single_celltype*.p*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*SpatialScatterpie_*.p*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*boxplot*.p*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*CorrelationMatrix*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*Interactions*	OUTDIR/upload/Integrate/	link	0
@@@@appendix
