@@@@project_info
BIN/upload/public-picture/*	OUTDIR/upload/public-picture/	copy	2
@@@@spaceinfo
INDIR/*/*cluster_umap.p*	OUTDIR/upload/space/	link	0
@@@@RNAinfo
INDIR/*/*celltype_count.xls	OUTDIR/upload/RNA/	link	0
INDIR/*/*celltype_umap.p*	OUTDIR/upload/RNA/	link	0
@@@@Integrate
INDIR/*/*celltype_Vlnplot.p*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*celltype_FeaturePlot.p*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*celltype_AddModuleScore_example.xls	OUTDIR/upload/Integrate/	link	0
INDIR/*/*celltype_AddModuleScore.xls	OUTDIR/upload/Integrate/	link	0
INDIR/*/*celltype_count_space.xls	OUTDIR/upload/Integrate/	link	0
INDIR/*/*celltype_count_space_cluster.xls	OUTDIR/upload/Integrate/	link	0
INDIR/*/*celltype_count_space_cluster.p*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*celltype_space_umap.p*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*SpatialDimPlot.p*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*SpatialDimPlot_Pit1_eachcell.p*	OUTDIR/upload/Integrate/	link	0
@@@@appendix
