@@@@project_info
BIN/upload/public-picture/*	OUTDIR/upload/public-picture/	copy	2
@@@@spaceinfo
INDIR/*/*cluster_umap.p*	OUTDIR/upload/space/	link	0
@@@@RNAinfo
INDIR/*/*celltype_count.xls	OUTDIR/upload/RNA/	link	0
INDIR/*/*celltype_umap.p*	OUTDIR/upload/RNA/	link	0
@@@@Integrate
INDIR/*/*predictions.xls	OUTDIR/upload/Integrate/	link	0
INDIR/*/*Spot_cell_count.xls	OUTDIR/upload/Integrate/	link	0
INDIR/*/*SpatialDimPlot.p*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*SpatialDimPlot_Pit1_eachcell.p*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*celltype_count_space_cluster.xls	OUTDIR/upload/Integrate/	link	0
INDIR/*/*heatmap_cluster.p*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*predictions_example.xls	OUTDIR/upload/Integrate/	link	0
INDIR/*/*predicted.id_umap1.p*	OUTDIR/upload/Integrate/	link	0
@@@@appendix

